# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Client folder specific
client/node_modules/
client/.env
client/dist
client/dist-ssr
client/*.local

# Server folder specific
server/node_modules/
server/.env
server/dist
server/dist-ssr
server/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env