.rbc-calendar {
    background-color: #e0f2df50;
}

.rbc-btn-group {
  display: flex;
  gap: 10px;
}

.rbc-btn-group .rbc-active {
  background-color: #2ab86d !important;
  border-radius: 0.5rem !important;
}

.rbc-btn-group button {
  border-radius: 0.5rem !important;
}

.rbc-btn-group button:active {
  background-color: #2ab86d !important;
}
.rbc-day-bg.rbc-off-range-bg {
    background-color: #cdddcc;
}

.rbc-day-slot.rbc-time-column.rbc-now.rbc-today, .rbc-day-bg.rbc-today, .rbc-header.rbc-today {
    background-color: #e0f2df !important;
}
